form{
    width:500px;
    height: 300px;
    background-color: rgb(91, 214, 91);
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 10px;
    align-items: center;
    margin-left: 220px;
   

    
}
button{
    background-color: blue;
    border-radius: 20px;
    color: yellow;
}